@import "tailwindcss";

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #0f172a;     /* deep blue-black */
  --color-secondary: #1e293b;   /* card background */
  --color-accent: #f472b6;      /* pink */
  --color-highlight: #fb7185;   /* red-pink */
  --font-heading: 'Orbitron', 'sans-serif';
  --font-body:'JetBrains Mono', 'sans-serif';
}
.scrollbarHide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbarHide::-webkit-scrollbar{
  display: none;
}
.typingText{
  display: inline-block;
  white-space: nowrap;
  border-right: 1px solid whitesmoke;
  overflow: hidden;
  /* animation: typing 3.5s steps(15, end) forwards, blink-caret 0.75s step-end infinite; */
}

@keyframes typing{
  from{ width: 0;}
  to{ max-width: 200px;}
}
@keyframes blink-caret{
  from{border-color: transparent;}
  50%{border-color: whitesmoke;}
  to{border-color: transparent;}
}