@import "tailwindcss";

@theme {
  --color-primary: #0f172a;     /* deep blue-black */
  --color-secondary: #1e293b;   /* card background */
  --color-accent: #f472b6;      /* pink */
  --color-highlight: #fb7185;   /* red-pink */
  --font-heading: 'Orbitron', 'sans-serif';
  --font-body:'JetBrains Mono', 'sans-serif';
}
.scrollbarHide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbarHide::-webkit-scrollbar{
  display: none;
}